{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}{{ titleAndH1 }}
{% endblock %}


{% block section %}
    <div class="d-flex justify-content-center align-items-center row m-3">
        <div class="col-12 d-flex justify-content-center align-content-around">
            <h1>{{ titleAndH1 }}</h1>
        </div>
        <div class="col-sm-12 col-md-6 justify-content-center align-content-around">
            <div class="mb-3">
                <label for="{{ field_id(form.nom) }}" class="form-label required">
                    <span style="color:red">* </span>{{ field_label(form.nom) }}
                </label>
                {{ form_widget(form.nom, {
                    attr: {
                        form:'sortie',
                        class:'form-control'
                    }
                }) }}
                <div class="information-container errors">
                    {{ form_errors(form.nom) }}
                </div>
            </div>
            <div class="mb-3">
                <label for="{{ field_id(form.dateHeureDebut) }}" class="form-label required">
                    <span style="color:red">* </span>{{ field_label(form.dateHeureDebut) }}
                </label>
                {{ form_widget(form.dateHeureDebut, {
                    attr: {
                        form:'sortie',
                        class:'form-control'
                    }
                }) }}
                <div class="information-container errors">
                    {{ form_errors(form.dateHeureDebut) }}
                </div>
            </div>
            <div class="mb-3">
                <label for="{{ field_id(form.dateLimiteInscription) }}" class="form-label required">
                    <span style="color:red">* </span>{{ field_label(form.dateLimiteInscription) }}
                </label>
                {{ form_widget(form.dateLimiteInscription, {
                    attr: {
                        form:'sortie',
                        class:'form-control'
                    }
                }) }}
                <div class="information-container errors">
                    {{ form_errors(form.dateLimiteInscription) }}
                </div>
            </div>
            <div class="mb-3">
                <label for="{{ field_id(form.nbInscriptionMax) }}" class="form-label required">
                    <span style="color:red">* </span>{{ field_label(form.nbInscriptionMax) }}
                </label>
                {{ form_widget(form.nbInscriptionMax, {
                    attr: {
                        form:'sortie',
                        class:'form-control'
                    }
                }) }}
                <div class="information-container errors">
                    {{ form_errors(form.nbInscriptionMax) }}
                </div>
            </div>
            <div class="mb-3">
                <label for="{{ field_id(form.duree) }}" class="form-label required">
                    <span style="color:red">* </span>{{ field_label(form.duree) }}
                </label>
                {{ form_widget(form.duree, {
                    attr: {
                        form:'sortie',
                        class:'form-control'
                    }
                }) }}
                <div class="information-container errors">
                    {{ form_errors(form.duree) }}
                </div>
            </div>
            {% if allowRemove %}
                <hr>
                <h6>Lieu(x) déjà prévu(s) pour la sortie</h6>
                <ul>
                    {% for lieu in lieux %}
                        <li>{{ lieu.name }} ({{ lieu.rue }})</li>
                        <form action="{{ path('sortie_lieu_delete', {id:sortie.id}) }}" method="POST">
                            <button
                                type="submit"
                                name="lieu_delete"
                                value="{{ lieu.id }}"
                                class="btn btn-outline-danger btn-sm"
                                onclick="return confirm('La suppression sera définitive et irréversible, souhaitez-vous continuer?')">
                                Supprimer
                            </button>
                        </form>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6 justify-content-center">
            <div class="mb-3">
                <label for="{{ field_id(form.campus) }}" class="form-label required">
                    <span style="color:red">* </span>{{ field_label(form.campus) }}
                </label>
                {{ form_widget(form.campus, {
                    attr: {
                        form:'sortie',
                        class:'form-control'
                    }
                }) }}
                <div class="information-container errors">
                    {{ form_errors(form.campus) }}
                </div>
            </div>
            <div class="col-sm-12 col-md-6 justify-content-center">
                <div class="mb-3">
                    <label for="{{ field_id(form.lieuVille) }}" class="form-label required">
                        <span style="color:red">* </span>{{ field_label(form.lieuVille) }}
                    </label>
                    {{ form_widget(form.lieuVille, {
                        attr: {
                            form:'sortie',
                            class:'form-control'
                        }
                    }) }}
                    <div class="information-container errors">
                        {{ form_errors(form.lieuVille) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 justify-content-center">
                <div class="mb-3">
                    <label for="{{ field_id(form.lieuCP) }}" class="form-label required">
                        <span style="color:red">* </span>{{ field_label(form.lieuCP) }}
                    </label>
                    {{ form_widget(form.lieuCP, {
                        attr: {
                            form:'sortie',
                            class:'form-control'
                        }
                    }) }}
                    <div class="information-container errors">
                        {{ form_errors(form.lieuCP) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 justify-content-center">
                <div class="mb-3">
                    <label for="{{ field_id(form.lieuNom) }}" class="form-label required">
                        <span style="color:red">* </span>{{ field_label(form.lieuNom) }}
                    </label>
                    {{ form_widget(form.lieuNom, {
                        attr: {
                            form:'sortie',
                            class:'form-control'
                        }
                    }) }}
                    <div class="information-container errors">
                        {{ form_errors(form.lieuNom) }}
                    </div>
                </div>
            </div>
                <button type="button" id="search-place-btn" class="btn btn-sm btn-outline-primary mb-1">Rerchercher
                </button>
                <div id="places_research_container">
                    <p class="text-secondary">Lancer une recherche sur le ou les lieux de votre sortie en indiquant la
                        ville
                        et un critère ci-dessus.</p>
                </div>
            <hr>
            <div id="places_selected_container">
                {% if allowRemove %}
                    <h6>Lieu(x) complémentaire(s) pour la sortie :</h6>
                {% else %}
                    <h6>Lieu(x) sélectionné(s) pour la sortie :</h6>
                {% endif %}
            </div>
        </div>
        <div class="col-12 ustify-content-center align-content-around">
            <div class="col-sm-12 col-md-6 justify-content-center">
                <div class="mb-3">
                    <label for="{{ field_id(form.infosSortie) }}" class="form-label required">
                        <span style="color:red">* </span>{{ field_label(form.infosSortie) }}
                    </label>
                    {{ form_widget(form.infosSortie, {
                        attr: {
                            form:'sortie',
                            class:'form-control'
                        }
                    }) }}
                    <div class="information-container errors">
                        {{ form_errors(form.infosSortie) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <form method="POST" id="sortie">
                {{ form_row(form._token) }}
                <div class="row justify-content-center gap-2">
                    <div class="col-auto d-flex justify-content-center">
                        {{ form_widget(form.enregistrer) }}
                    </div>
                    <div class="col-auto d-flex justify-content-center">
                        {{ form_widget(form.publier) }}
                    </div>

                    {% if allowRemove %}
                        <div class="col-auto d-flex justify-content-center">
                            {{ form_widget(form.supprimer) }}
                        </div>
                    {% endif %}
                </div>
            </form>
            <div class="col-auto d-flex justify-content-center mt-3">
                <a href="{{ path('sortie_liste') }}" class="text-decoration-none text-white">
                    <button type="button" class="btn btn-secondary">
                        Retour à la liste
                    </button>
                </a>
            </div>
        </div>
    </div>

{% endblock %}

{% block scriptComplementaire %}
    <script src="{{ asset('scripts/findVilleCp.js') }}" defer type="module"></script>
    <script src="{{ asset('scripts/googlePlacesSearch.js') }}" defer type="module"></script>
    <script src="{{ asset('scripts/submitPlaces.js') }}" defer></script>
{% endblock %}

