<tr>
    <form action="{{ path('app_ville_create') }}" method="POST">
        <td>{{ form_row(form.campus) }}</td>
        <td>{{ form_row(form.name) }}</td>
        <td>{{ form_row(form.codePostal) }}</td>
        <td>{{ form_row(form.save) }}</td>
    </form>
</tr>

