{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}Gérer les villes
{% endblock %}

{% block section %}
    <h1 class="text-center">Gérer les villes</h1>

    <turbo-frame id="villes_table">

        {# FILTRES #}
        <table class="sticky-top bg-light">
            <thead>
            <tr>
                <th colspan="4">Filtrer les villes</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <form method="POST">
                    <td>
                        <select name="ville_filter_campus" class="form-select form-select-sm">
                            <option value="">Tous les campus</option>
                            {% for leCampus in campus %}
                                <option value="{{ leCampus.id }}">{{ leCampus.name }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input type="text" name="ville_filter_name" placeholder="Nom contient..."
                               class="form-control form-control-sm">
                    </td>
                    <td>
                        <input type="text" name="ville_filter_codePostal" placeholder="Code postal contient..."
                               class="form-control form-control-sm">
                    </td>
                    <td class="p-3">
                        <button type="submit" name="ville_filter" class="btn btn-sm btn-success">Filtrer</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>

        {# ERRORS du CREAET #}
        {% if (formCreate.vars.errors | length) > 0 %}
            <div class="alert alert-danger m-2">
                {% for error in form.vars.errors %}
                    <div>{{ error.message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {# tableau GESTION des villes #}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Campus</th>
                <th>Nom</th>
                <th>Code Postal</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {# CREATE #}
            <tr>
                {{ form_start(formCreate) }}
                <td>{{ form_row(formCreate.campus) }}</td>
                <td>{{ form_row(formCreate.name) }}</td>
                <td>{{ form_row(formCreate.codePostal) }}</td>
                <td>{{ form_row(formCreate.save) }}</td>
                {{ form_end(formCreate) }}
            </tr>

            {% if (villes|length) >0 %}

                {# DISPLAY #}
                {% for ville in villes %}
                    <tr id="ville_{{ ville.id }}">
                        <form action="POST">
                            <td>
                                <select name="ville_campus" class="form-select form-select-sm">
                                    {% for leCampus in campus %}
                                        <option value="{{ leCampus.id }}"
                                                {% if leCampus.id == ville.campus.id %}selected{% endif %}>
                                            {{ leCampus.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            </td>
                            <td>
                                <input type="text" name="ville_name" value="{{ ville.name }}"
                                       class="form-control form-control-sm" required>
                            </td>
                            <td>
                                <input type="text" name="ville_codePostal" value="{{ ville.codePostal }}"
                                       class="form-control form-control-sm" required>
                            </td>
                            <td>

                                {# BOUTON UPDATE #}
                                <div class="m-2">
                                    <input type="hidden" name="ville_edit_id" value="{{ ville.id }}">
                                    <button type="submit" class="btn btn-outline-warning">Modifier</button>
                                </div>

                                {# BOUTON DELETE #}
                                <div class="m-2">
                                    <form method="POST" class="d-inline"
                                          data-turbo-confirm="La suppression sera définitive et irréversible, souhaitez-vous
                                continuer?">
                                        <input type="hidden" name="ville_delete_id" value="{{ ville.id }}">
                                        <button type="submit" class="btn btn-outline-danger">Supprimer</button>
                                    </form>
                                </div>
                            </td>
                        </form>
                    </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="4">Aucune ville trouvée</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </turbo-frame>
{% endblock %}

